<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <header>
        <h2>Product category system:</h2>
     </header>

     <section>
        <p>1. <a href="/addProduct">Add a product</a> <br></p>
        <p>2. <a href="/displayProducts">Display all products</a></p>
     </section>
     
     <footer><p>End of page.</p></footer>
</body>
</html>